li{
    list-style:none;
}
ul{
    padding:0;
}

.menu{
    background-color:#012F4B;
    color:#fff;
}
.menu li {
    padding:5% 10%;
    text-align:center;
}

.contents li{
    background-color:#F3A7AB;
    color:#fff;
    padding:10% 10%;
    box-sizing: border-box;
    border: solid 1px #fff;
}

.topic li{
    margin:1%;
    border-bottom: dotted 1px #333333;
}

.container{
    padding-bottom: 100px;
}

.ics {
  text-align: center;
  display: inline-block;
  overflow: auto;
  height: 100%;
}